<!DOCTYPE html>
<html>  
 <head>
       <link rel="stylesheet" href="{{ url_for('static', filename='index_style.css') }}">
 </head>

<body>
    <h1>Welcome to the Grocery App</h1>
    <img src="{{ url_for('static', filename='logogrocery.png') }}" alt="Grocery Logo" class="logo">
   
    <form action="/grocery">
        <button type="submit">Search Grocery</button>
    </form>

    <form action="/data">
        <button type="submit">Grocery Data</button>
    </form>


<div class="info_data">
<p>
     The dataset used for this project can be found on Kaggle:  
     <a href="https://www.kaggle.com/datasets/willianoliveiragibin/grocery-inventory?utm_source" 
     target="_blank">
     Grocery Inventory Dataset
     </a>.
<p>In our dataset we work with five variables:</p>
<ul>
        <li><strong>Product_Name</strong> – Categorical, nominal. Represents the name of the product. </li>
        <li><strong>Category</strong> – Categorical, nominal. Type or category of the product.</li>
        <li><strong>Supplier_Name</strong> – Categorical, nominal. The company or supplier that provides the product.</li>
        <li><strong>Stock_Quantity</strong> – Numerical, discrete. Number of items in stock. </li>
        <li><strong>Unit_Price</strong> – Numerical, continuous. Price per unit of the product.</li>
</ul>
    </p>
 </div>
</body>

</html>

